# Dependencies
node_modules/
dist/
.env
.env.local
.env.production
*.log
coverage/
.vscode/
.idea/
prisma/.env
*.swp
*.swo
data/

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Prisma
prisma/.env

/generated/prisma
